redoc-static.html
.env
.dev.env
letsencrypt/*
!letsencrypt/.gitkeep
politicry-pgdata
coverage
node_modules
.parcel-cache
extension/dist
**/package-lock.json
extension/public/tesseract.*
extension/tesseract/*
*.log
.nyc_output
