.reddit-actions {
  position: relative;
  display: inline-block;
  color: white;
}

.reddit-action {
  cursor: pointer;
  align-items: center;
  padding: 0 2px;
  background-color: #4412c1;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  
}

.reddit-action.block {
  margin-left: 5px;
}

.reddit-action:hover {
  background-color: #252525;
}

.reddit-dashboard {
  padding: 0 !important;
  border: 1px solid white;
  background-color: #5a5a5a;
  margin-bottom: 6px;
  overflow: hidden;
  color: white;
}

.reddit-controls {
  text-align: right;
}

.reddit-control {
  cursor: pointer;
  display: inline-block;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  background-color: #5a5a5a;
  margin-left: 8px;
  padding: 2px 5px;
}

.reddit-control:hover {
  background-color: #252525;
}

.reddit-page-status {
  float: left;
}

.reddit-status {
  display: inline-block;
  margin-left: 8px;
  padding: 2px 5px;
}
